.product-detail__main-container {
	background: $offWhite;
	border-radius: 10px;
	color: $borderTopColor;
	padding: 20px;

	.product-detail__product-image {
		background-image: url(../img/store-item.jpg);
		background-repeat: no-repeat;
		transform: translateY(20px);
		background-position: center;
		margin: 20px;
		height: 400px;
		background-size: auto 100%;

		@include breakpoint(tablet) {
			margin: 0;
		}
	}

	.holtwood {
		width: 100%;
		font-size: 2rem;
		padding-bottom: 1.5rem;
		border-bottom: 2px solid $borderTopColor;

		@include breakpoint(tablet) {
			font-size: 2.5rem;
		}

		@include breakpoint(desktop) {
			font-size: 3rem;
		}
	}

	.product-detail__button--container {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.product-detail__price, 
	.product-detail__item-rating {
		font-size: 2.5rem;
	}
}

.product-detail__breadcrumbs--single {
	display: inline-block;
	padding: 5px;
}

.breadcrumbs__divider, .inactive {
		color: black;
		opacity: 0.3;
}

.nav-tabs {
	margin-bottom: 2rem;
	margin-left: 15px;
	border-bottom: 2px solid white;
}

.tab-content {

	.tab-pane {
		color: black;
	}
}

.black {
	color: black;
}