@import 'fonts';

@import 'mixins';

@import 'variables';

@import 'bootstrap-variables.sass';

@import '../../vendor/bootstrap/stylesheets/bootstrap.scss';

@import 'index';

@import 'product-search';

@import 'product-detail';

html, body {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}